[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarduino = "*"
django = "*"
pillow = "*"
celery = "*"
redis = "*"
channels = "*"
websockets = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.12"
